@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/scss/variables";

$pt-link-color:#E2E2E2;

.rule {
  color: $pt-link-color;
  background: #282828;
}
#incomplete{
  color: #FF7066;
}
